{{define "contents"}}
{{ $imglength := len .ImgList }}
  {{ if gt $imglength 0 }}
    <div class="ui unstackable items">
      {{ range .ImgList }}
      <div class="item">
        <div class="image">
          <a class="header" href="{{ .Url }}">
            <img src="{{ .Url }}">
          </a>
        </div>
        <div class="content">
          <a class="header" href="{{ .Url }}">{{ .Img_Id }}</a>
        </div>
      </div>
      {{ end }}
    </div>
  {{ end }}
    <div class="ui primary button" onclick="OpenModal({{ .Api }});">
      Upload
    </div>
    <div class="ui dimmer modals page transition hidden">
      <div class="ui large modal transition hidden">
        <form class="ui large modal" method="POST" style="left: auto !important;">
          <i class="close icon"></i>
          <div class="header">
            New Image
          </div>
          <div class="content">
            <div class="ui form">
              <div class="field">
                <img id="preview" src>
              </div>
              <div class="field">
                <label>Image File</label>
                <div class="ui input">
                  <input id="image" type="file" name="image" accept="image/*" onchange="ChangeImage();">
                </div>
              </div>
            </div>
          </div>
          <input type="hidden" name="action" value="createimg">
          <div class="actions">
            <div class="ui button" onclick="CloseModal();">Cancel</div>
            <div class="ui green button" onclick="UploadImage(this, {{ .Api }});">Submit</div>
          </div>
        </form>
      </div>
    </div>
{{ end }}
